html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafafa;
}

.swagger-ui .topbar svg:not(:root) {
    display: none;
}
/* Can enable this to get a logo at the top, need to sort out current branding. */
/*.topbar-wrapper .link:before {*/
/*    content: url('kochava_horizontal.png');*/
/*}*/